.navbar{
    height: var(--navbar-height);
    padding: 0 var(--padding-x);
}
.screen-layout{
    padding: 1rem var(--padding-x);
    min-height: 100vh;
}
.button{
    background-color: #88a9c157;
}
.banner-section{
    display: flex;
    flex-wrap: wrap;
}
.banner-section > div:nth-child(1){
    width: 70%;
}
.banner-section .hero-image{
    width: 30%;
    display: flex;
    justify-content: center;
    min-height: 100%;
    animation: rocket 1s linear infinite;
}
.banner-section .hero-image .activated{
    animation: activated 1s linear;
}
@keyframes activated {
    100%{
        transform: translateY(-100%);
    }
}
@keyframes rocket {
    0%{
        transform: translateY(-3rem);
    }
    25%{
        transform: translateY(-3rem);
    }
    75%{
        transform: translateY(-2.5rem);
    }
    100%{
        transform: translateY(-3rem);
    }
}
.banner-img-container{
    height: 100vh;
    width: 100vw;
    padding: 1rem var(--padding-x-mobile);
    padding-bottom: 2rem;
}
.banner-img-container{
    height: 100vh; /* Adjust as needed */
    width: 100vw;
    background-image: url('./assets/images/section-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.search-pannel{
    width: 42vw;
    height: 5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(4px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}       
.search-pannel > span{
    color: rgba(255, 255, 255, 0.342);
}
.search-pannel > input{
    background-color: transparent;
    width: 15%;
    font-size: 2rem;
}
.search-pannel > input::placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.6rem;
}
.search-pannel > input:focus{
    outline: none;
}
.search-pannel:has(input:focus){
    transform: scale(1.1);
    transition: 0.3s;
}
.search-pannel > input:nth-child(1){
    width: 40%;
}
.product-content{
    width: 70%;
}
.product-card-1{
    background: linear-gradient(120deg, #1C3486, #9C3D58);
    transition: 0.5s;
    width: 32%;
    display: flex;
    min-width: 450px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.product-card-1:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.pagination .pg-bt {
    width: 3rem;
    height: 3rem;
    transition: 0.6s;
    /* color: rgba(255, 255, 255, 0.646); */
}
.pagination .pg-bt:hover{
    color: rgba(255, 255, 255, 1);
    transform: translateY(-0.5rem);
    transition: 0.6s;
}
.product-grid{
    /* background-color: red; */
    gap: 1.28rem;
    flex-wrap: wrap;
}
.tooltip{
    position: relative;
    z-index: 1;
}
.tooltip .content{
    display: none;
    position: absolute;
    font-size: 0.8rem;
    top: -2.5rem;
    left: 50%;
    transform: translate(-50%);
    line-height: 16px;
    padding: 0.4rem 0.6rem;
    user-select: none;
    white-space: nowrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    letter-spacing: 0;
    cursor: pointer;
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}
.tooltip .content::before{
    content: '';
    position: absolute;
    width: 3rem;
    height: 1rem;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    box-sizing: border-box;
    bottom: -0.5rem;
    z-index: -1;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    
}
.tooltip:hover .content{
    display: block;
    transition: 1s;
    animation: popup 0.5s ease-in-out;
}
@keyframes popup {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media screen and (max-width: 1064px) {
    .product-grid{
        justify-content: center;
    }
    .product-content{
        width: 100%;
    }
    .banner-section{
        padding-top: var(--navbar-height);
    }
    .banner-section > div:nth-child(1){
        width: 100%;
    }
    .banner-section .hero-image{
        width: 30%;
    }
    .search-pannel{
        width: 60vw;
    }
}
@media screen and (max-width: 497px) {
    .product-card-1{
        min-width: 90vw;
    }
    .screen-layout{
        padding: 1rem var(--padding-x-mobile);
        min-height: 100vh;
    }
    .search-pannel{
        width: 83vw;
    }
    .navbar{
        padding: 0 var(--padding-x-mobile);
    }
    @keyframes activated {
        100%{
            transform: translateY(-1000%);
        }
    }
}