.navbar{
    height: var(--navbar-height);
    padding: 0 var(--padding-x);
    z-index: 20;
}
.navbar.show{
    /* background-color: red; */
    transition: 0.6s;
}
.navbar.hide{
    /* background-color: rgba(255, 255, 255, 0.201); */
    backdrop-filter: blur(10px);
    transition: 0.6s;
}

.list-ui{
    z-index: 50;
}
.screen-layout{
    padding: 1rem var(--padding-x);
    min-height: 100vh;
    position: relative;
    /* max-width: 100vh; */
    overflow: hidden;
}
.screen-layout .wrapper{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.button{
    background-color: #88a9c157;
}
.banner-section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.banner-section > div:nth-child(1){
    width: 70%;
}
.banner-section .hero-image{
    width: 30%;
    display: flex;
    justify-content: center;
    min-height: 100%;
    animation: rocket 1s linear infinite;
}
.banner-section .hero-image .activated{
    animation: activated 1s linear;
}
.banner-img-container{
    min-height: 100vh;
    padding: 4rem var(--padding-x-mobile);
    width: 100vw;
    background-image: url('./assets/images/section-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.search-pannel{
    width: 42vw;
    gap: 1rem;
    height: 5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(4px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}       
.search-pannel > span{
    color: rgba(255, 255, 255, 0.342);
}
.search-pannel select:focus{
    color: rgb(105, 105, 105);
    font-size: 1rem;
}
.search-pannel > .input{
    background-color: transparent;
    width: 15%;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
}
.search-pannel > .input::placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.6rem;
}
.search-pannel > .input:focus{
    outline: none;
}
.search-pannel:has(.input:focus){
    transform: scale(1.1);
    transition: 0.3s;
}
/* .search-pannel > .input:nth-child(1){
    width: 40%;
}
.product-content{
    width: 70%;
} */
.stars{
    width: 99vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.stars .star{
    border-radius: 50%;
    position: absolute;
    width: 0.2rem;
    aspect-ratio: 1;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.468);
}
.product-card{
    transition: 0.5s;
    width: 32%;
    display: flex;
    min-width: 450px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.product-card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.product-card.a1{
    background: linear-gradient(120deg, #1C3486, #9C3D58);
}
.product-card.a2{
    background: linear-gradient(120deg, #A34155, #FFB6CB);
}
.product-card.a3{
    background: linear-gradient(120deg, #1c8668, #77a6ca);
}
.pagination.dark{
    background-color: rgba(45, 45, 44, 0.89);
}
.pagination .pg-bt {
    width: 3rem;
    height: 3rem;
    transition: 0.6s;
    /* color: rgba(255, 255, 255, 0.646); */
}
.pagination .pg-bt:hover{
    color: rgba(255, 255, 255, 1);
    transform: translateY(-0.5rem);
    transition: 0.6s;
}
.product-grid{
    /* background-color: red; */
    gap: 1.28rem;
    flex-wrap: wrap;
}
.tooltip{
    position: relative;
    z-index: 1;
}
.tooltip .content{
    display: none;
    position: absolute;
    font-size: 0.8rem;
    top: -2.5rem;
    left: 50%;
    transform: translate(-50%);
    line-height: 16px;
    padding: 0.4rem 0.6rem;
    user-select: none;
    white-space: nowrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    letter-spacing: 0;
    cursor: pointer;
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}
.tooltip .content::before{
    content: '';
    position: absolute;
    width: 3rem;
    height: 1rem;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    box-sizing: border-box;
    bottom: -0.5rem;
    z-index: -1;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    
}
.tooltip:hover .content{
    display: block;
    transition: 1s;
    animation: popup 0.5s ease-in-out;
}
.info-modal{
    z-index: 100 !important;
}
.info-modal .inner{
    background-color: rgba(255, 255, 255, 0.139);
    backdrop-filter: blur(25px);
    width: 60vw;
    min-width: 60vw;
    display: flex;
    max-height: 85vh;
    min-height: 70vh;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.info-modal .inner .close{
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.139);
    backdrop-filter: blur(25px);
    top: -1.5rem;
    right: -1.5rem;
}
.info-modal .inner .close:hover{
    background-color: rgba(255, 255, 255, 0.398);
    /* color: gray; */
    transition: 0.6s;
}
.info-modal .inner .scrollable{
    overflow: auto;
    overflow-x: hidden;
}
.info-modal .inner .img-container{
    overflow-x: auto;
}
.info-modal .inner .img-container img{
    width: 6rem;
    height: 5rem;
    object-fit: contain;
}
.modal-stats-section{
    border-bottom: 1px solid rgba(255, 255, 255, 0.594);
    padding-bottom: 1rem;
}
.open-btn{
    font-size: 2rem;
}
.open-btn:hover{
    color: gray;
}
.capsule-card{
    width: 320px;
    min-width: 320px;
    background-color: rgba(255, 255, 255, 0.265);
    backdrop-filter: blur(10px);
    transition: 0.6s;
}
.capsule-card .custom-bg {
    background-color: rgba(255, 255, 255, 0.525);
    border-radius: 5px;
    padding: 0 0.3rem;
}
.capsule-card:hover{
    transform: scale(1.1);
    transition: 0.6s;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255,0.6);
    z-index: 1;
}
.loading{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
.loading .dots{
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 50%;
    animation: animate 0.3s linear infinite alternate;
}
.loading .dots:nth-child(1){
    /* animation: animate 0.6 linear infinite alternate; */
    animation-delay: 0.1s;
}
.loading .dots:nth-child(2){
    /* animation: animate 0.6 linear infinite alternate; */
    animation-delay: 0.3s;
}
.loading .dots:nth-child(3){
    /* animation: animate 0.6 linear infinite alternate; */
    animation-delay: 0.5s;
}
.loading .dots:nth-child(4){
    /* animation: animate 0.6 linear infinite alternate; */
    animation-delay: 0.7s;
}
.loading .dots:nth-child(5){
    /* animation: animate 0.6 linear infinite alternate; */
    animation-delay: 0.9s;
}
@media screen and (max-width: 1064px) {
    .product-grid{
        justify-content: center;
    }
    .product-content{
        width: 100%;
    }
    .banner-section{
        padding-top: var(--navbar-height);
    }
    .banner-section > div:nth-child(1){
        width: 100%;
    }
    .banner-section .hero-image{
        width: 30%;
    }
    .search-pannel{
        width: 60vw;
    }
    .modal-stats-section{
        flex-wrap: wrap;
    }
    .modal-stats-section .full-on-mobile{
        width: 100%;
    }
}

@media screen and (max-width: 635px) {
    .info-modal .inner{
        width: 90vw;
    }
}

@keyframes activated {
    100%{
        transform: translateY(-100%);
    }
}
@keyframes rocket {
    0%{
        transform: translateY(-3rem);
    }
    25%{
        transform: translateY(-3rem);
    }
    75%{
        transform: translateY(-2.5rem);
    }
    100%{
        transform: translateY(-3rem);
    }
}
@media screen and (max-width: 497px) {
    .product-card{
        min-width: 90vw;
    }
    .screen-layout{
        padding: 1rem var(--padding-x-mobile);
        min-height: 100vh;
    }
    .search-pannel{
        width: 83vw;
        gap: 0;
    }
    .navbar{
        padding: 0 var(--padding-x-mobile);
    }
    @keyframes activated {
        100%{
            transform: translateY(-1000%);
            display: none;
        }
    }
}
@keyframes popup {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animate {
    to{
        transform: translateY(-2rem);
        transition: 0.6s;
    }
}
.galaxy{
    font-size: 6px;
    width: 40em;
    height:40em;
    /* position: relative; */
}
.sun{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    height: 10em;
    width: 10em;
    background-image: linear-gradient(rgb(242, 185, 79), rgb(255, 140, 0));
    border-radius: 50%;
    box-shadow: 0 0 3em rgb(255, 128, 0);
    animation: orbit 50s linear infinite;
}
.mercury, .venus, .moon, .earth, .mars, .jupiter, .saturn, .uranus, .neptune, .pluto{
    position: absolute;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.221) ;
    border-width: 0.1em 0em 0.1em 0;
    border-radius: 50%;
}
.mercury{
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbit 5s linear infinite;
}
.venus{
    top: 10em;
    left: 10em;
    width: 20em;
    /* background-color: red; */
    height: 20em;
    animation: orbit 15s linear infinite;
}
.earth{
    top: 6em;
    left: 6em;
    /* background-color: red; */
    width: 28em;
    height: 28em;
    animation: orbit 20s linear infinite;
}
.moon{
    top: 2em;
    right: -1em;
    width: 7em;
    height: 7em;
    animation: orbit 6s linear infinite;
}
.mars{
    top: 2em;
    left: 2em;
    width: 36em;
    height: 36em;
    animation: orbit 25s linear infinite;
}
.jupiter{
    top: -2em;
    left: -2em;
    width: 45em;
    height: 45em;
    animation: orbit 30s linear infinite;
}
.saturn{
    top: -7em;
    left: -7em;
    width: 55em;
    height: 55em;
    animation: orbit 35s linear infinite;
}
.uranus{
    top: -12em;
    left: -12em;
    width: 65em;
    height: 65em;
    animation: orbit 40s linear infinite;
}
.neptune{
    top: -17em;
    left: -17em;
    width: 75em;
    height: 75em;
    animation: orbit 45s linear infinite;
}
.pluto{
    top:-22em;
    left:-22em;
    width: 85em;
    height: 85em;
    animation: orbit 50s linear infinite;
}
.mercury::before, .moon::before, .venus::before, .earth::before, .mars::before, .jupiter::before, .saturn::before, .uranus::before, .neptune::before, .pluto::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: orbit 30s linear infinite;
}
.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1em;
    height: 1em;
    background-image: url('./assets/images/planets/p1.png');
    background-size: cover;
}
.mercury::before {
    top: 1.5em;
    right: 0.8em;
    width: 2em;
    height: 2em;
    background-image: url('./assets/images/planets/p1.png');
    background-size: cover;
}
.venus::before{
    top: 2em;
    right: 2em;
    width: 2em;
    height: 2em;
    background-image: url('./assets/images/planets/p4.png');
    background-size: cover;
}
.earth::before{
    top: 3.5em;
    right: 0.4em;
    width: 4em;
    height: 4em;
    background-image: url('./assets/images/planets/p3.png');
    background-size: cover;
}
.mars::before{
    top: 4em;
    right: 4em;
    width: 2em;
    height: 2em;
    background-image: url('./assets/images/planets/p2.png');
    background-size: cover;
}
.jupiter::before{
    top: 5.5em;
    right: 5.5em;
    width: 2em;
    height: 2em;
    background-image: url('./assets/images/planets/p7.png');
    background-size: cover;
}
.saturn::before{
    top: 7em;
    right: 7em;
    width: 2em;
    height: 2em;
    background-image: url('./assets/images/planets/p8.png');
    background-size: cover;
}
.uranus::before{
    top: 8.4em;
    right: 8.4em;
    width: 2em;
    height: 2em;
    background-image: url('./assets/images/planets/p6.png');
    background-size: cover;
}
.neptune::before{
    top: 10em;
    right: 10em;
    width: 2em;
    height: 2em;
    background-image: url('./assets/images/planets/p5.png');
    background-size: cover;
}
.pluto::before{
    top: 11.5em;
    right: 11.5em;
    width: 2em;
    height: 2em;
    background-image: url('./assets/images/planets/p2.png');
    background-size: cover;
}
@keyframes orbit {
    from {
        transform: rotate(0);
    } to{
        transform: rotate(360deg);
    }
}