@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    --navbar-height: 8rem;
    --padding-x: 4rem;
    --padding-x-mobile: 1.5rem;
    font-family: 'Monda', sans-serif;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }