@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    --navbar-height: 8rem;
    --padding-x: 4rem;
    --padding-x-mobile: 1.5rem;
    font-family: 'Monda', sans-serif;
    scroll-behavior: smooth;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .scrollable::-webkit-scrollbar-track, .info-modal .inner .img-container::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    background: black;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }
  